:root {
    --cor-primeira: #000000;
    --cor-segunda: rgb(10, 10, 10);
    --cor-terceira: rgb(95, 95, 95);
    --cor-quarta: rgb(150, 150, 150);
    --cor-quinta: rgb(220, 220, 220);
    --cor-sexta: rgb(255, 255, 255);
}

/* Uso das variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header img {
    height: 80px;
    width: 120px;
    border-radius: 0.5rem;
}

.perfil img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 var(--cor-primeira);
}

p {
    text-indent: 20px;
}

p, h1, h2, h3, h4 {
    word-spacing: 2px;
    letter-spacing: 1px;
    color: var(--cor-quinta);
}

main {
    align-items: center;
}

h2.titulo {
    color: var(--cor-quinta);
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

h2.titulo span {
    color: var(--cor-sexta);
}

body {
    background-color: var(--cor-primeira);
    height: 100vh;
}

.interface {
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    padding: 20px 4%;
}

header>.interface, .menu-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-horizontal {
    width: 100%;
    box-shadow: 0 0 1px 0 var(--cor-terceira);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor-primeira);
}

header a {
    color: var(--cor-sexta);
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    transition: .2s;
}

header a:hover, form .btn-enviar input:hover {
    color: var(--cor-sexta);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    letter-spacing: 0.5px;
}

header nav.meu-desktop ul li {
    display: inline-block;
    padding: 0 10px;
}

.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: var(--cor-sexta);
    font-size: 25px;
    display: none;
}

.menu-mobile {
    position: fixed;
    width: 70%;
    background-color: var(--cor-primeira);
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar i {
    color: var(--cor-quinta);
    font-size: 25px;
}

.menu-mobile .btn-fechar {
    padding: 20px 4%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: var(--cor-sexta);
    font-size: 15px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor-sexta);
    color: var(--cor-link-hover);
}

.overlay-menu {
    background-color: rgba(123, 123, 123, 0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

section.topo-do-site {
    padding: 100px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topo-do-site h1 {
    font-size: 20px;
    line-height: 25px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--cor-sexta);
    font-size: 17px;
}

.topo-do-site .txt-topo-site p {
    margin: 30px 0;
    font-size: 15px;
    color: var(--cor-sexta);
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

section.especialidades {
    padding: 60px 4%;
    margin: 100px 80px;
    border-radius: 50px;
    box-shadow: 0 0 1px 0 var(--cor-quarta);
    background-color: var(--cor-primeira);
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    display: flex;
    color: var(--cor-primaria);
    padding: 30px;
    margin-top: 40px;
    border-radius: 50px;
    transition: .2s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor-primeira);
}

.especialidades .especialidades-box:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2px 0 var(--cor-terceira);
    cursor: pointer;
}

.especialidades .especialidades-box img {
    height: 60px;
    width: 60px;
    border-radius: 0;
}

.especialidades .especialidades-box h2 {
    font-size: 20px;
    margin: 15px 0;
}

.especialidades .especialidades-box p {
    font-size: 15px;
}

section.sobre {
    padding: 70px 10%;
    border-radius: 50px;
    box-sizing: border-box;
    margin: 0 0px;
    background-color: var(--cor-primeira);
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: var(--cor-primeira);
}

.sobre .txt-sobre h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
}

.sobre .txt-sobre h2 span {
    color: var(--cor-sexta);
    display: block;
}

.sobre .txt-sobre p {
    margin: 15px 0;
    font-size: 15px;
}

.sobre .txt-sobre .btn-social {
    display: flex;
    box-sizing: border-box;
}

.btn-social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cor-segunda);
    color: var(--cor-sexta);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.sobre .txt-sobre .btn-social a:hover {
    box-shadow: 0px 0px 5px var(--cor-terceira);
}

section.formulario {
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 0 var(--cor-terceira);
    margin: 100px 80px;
    border-radius: 50px;
    background-color: var(--cor-primeira);
}

section.formulario h2 {
    font-size: 20px;
    color: var(--cor-quinta);
}

form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form input, form textarea {
    width: 100%;
    background-color: var(--cor-segunda);
    border: 1px solid var(--cor-segunda);
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 11px;
    color: var(--cor-sexta);
}

form .btn-enviar input:hover {
    box-shadow: 0 0 3px 0 var(--cor-terceira);
    color: var(--cor-sexta);
}

form input::placeholder, form textarea::placeholder {
    color: var(--cor-sexta);
}

form textarea {
    height: 180px;
    resize: none;
    width: 500px;
}

form .btn-enviar input {
    background-color: var(--cor-segunda);
    font-weight: 600;
    font-size: 11px;
    color: var(--cor-sexta);
    padding: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    padding: 10px;
}


/* MAPAS */
section.map {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

section.map .suzano, .mogi {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 400px;
}

section.map h3 {
    color: var(--cor-quinta);
    line-height: 80px;
    font-size: 15px;
}

section.map iframe {
    box-sizing: border-box;
    margin: -15px 0 70px 0;
    border-radius: 50px;
    width: 100%;
    height: 80%;
}

/* ESTILO DO RODAPE */
footer {
    margin: 200px 80px 0 80px;
    padding: 10px 2%;
    box-shadow: 0 0 1px 0 #ccc;
    border-radius: 50px;
    background-color: var(--cor-secundaria);
}

footer img {
    height: 80px;
    width: 120px;
    border-radius: 0.5rem;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ccc;
}

footer .btn-social a {
    align-items: center;
    text-align: center;
}

footer .btn-social {
    display: flex;
    flex-direction: row;
}

footer p {
    color: #333;
    margin: 10px 0;
    font-size: 14px;
}

/* BOTAO PARA O TOPO */
.to-top {
    position: fixed;
    top: 90%;
    left: 94%;
    transition: .2s;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.to-top a i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    border: none;
}

.to-top:hover {
    transform: scale(1.2);
}

@media screen and (max-width:1000px) {
    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Cabeçalho */
    .meu-desktop {
        display: none;
    }

    /* TOPO DO SITE */
    .perfil img {
        display: block;
        margin-bottom: 40px;
    }

    section.topo-do-site .flex {
        gap: 10px;
        flex-direction: column-reverse;
    }

    /* ESPECIALIDADES */

    .especialidades .especialidades-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 102.4%;
        text-align: center;
    }

    section.especialidades {
        margin: 100px 0px;
    }

    /* SOBRE */
    section.sobre {
        box-shadow: 0 0 0 0;
        padding: 18px;
        margin-top: 300px;
    }

    /* formulario */
    form textarea {
        width: 300px;
    }

    form .btn-enviar {
        width: 80%;
    }

    section.formulario {
        margin: 200px 0;
    }

    /* MAPAS */
    section.map {
        flex-direction: column;
        margin-top: 200px;
        height: 840px;
        align-items: center;
        text-align: center;
    }

    section.map iframe {
        width: 80%;
        height: 300px;
    }

    /* MENU */
    .interface {
        flex-direction: row;
        justify-content: end;
    }
    .topo-do-site .txt-topo-site h1 {
        line-height: 22px;
    }

    /* Menu mobile */
    .btn-abrir-menu {
        display: block;
    }

    .btn-abrir-menu i {
        display: block;
    }

    /* FOOTER */
    footer {
        margin: 200px 50px 0 50px;
    }
}